<app-header></app-header>
<div class="container-fluid">
    <div class="row profile-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 border-right-gray">
                    <div class="profile-flex">
                        <div class="profile-img img-box">
                            <div class="img">
                                <img class="imagefile" src="{{profiledata?.profile_image}}">
                            </div>
                            <label class="fileInput" for="profile-pic"><input type="file" onChange="singleFiles(event)"
                                    id="profile-pic" name="profile-img" class="hide-me"><i
                                    class="fa fa-pencil"></i></label>
                        </div>
                        <div class="profile-heading">
                            <h6>{{showName}}</h6>
                            <h6>{{profiledata?.username}}</h6>
                        </div>
                    </div>
                    <div class="inv-details">
                        <p>{{profiledata?.about}}
                        </p>
                    </div>
                    <div class="followers">
                        <ul>
                            <!-- <li><button class="btn btn-primary btn-sm" (onClick)="postFollow()">Follow</button></li> -->
                            <!-- <li><button class="btn btn-primary btn-sm">Unfollow</button></li> -->
                            <li><img src="assets/images/icon/hearts.png"><span>{{profiledata?.total_likes}}</span></li>
                            <li>Followers <span>{{profiledata?.total_follow_to + followdata?.followed}}</span></li>
                            <li>Following <span>{{profiledata?.total_follow_by}}</span></li>
                        </ul>
                    </div>
                    <div class="my-details">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Type of Account</th>
                                        <td>{{profiledata?.profile_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{profiledata?.email}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Mobile Number</th>
                                        <td>{{profiledata?.mobile_number}}</td>
                                    </tr> -->
                                    <tr *ngIf = "companyname">
                                        <th>Year of Founding</th>
                                        <td>{{profiledata?.company_detail?.year_of_foundation}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Occupation</th>
                                        <td>{{profiledata?.company_detail?.description}}</td>
                                    </tr> -->
                                    <tr *ngIf = "companyname">
                                        <th>Address</th>
                                        <td>{{profiledata?.company_detail?.address_line1}},{{profiledata?.company_detail?.address_line2}},{{profiledata?.company_detail?.address_line3}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf = "companyname" class="my-projects">
                        <div  class="add-projects">
                            <h6>My Projects <span><button type="button" data-toggle="modal" [routerLink] = '["/home"]' data-target="#involvement" >&#43;</button></span></h6>
                            <h6>Total Projects {{profiledata?.total_projects}}</h6>
                        </div>
                        <div class="project-list">
                            <!-- <button type="button" data-toggle="modal"
                                        data-target="#enter-user-tags" >&#43;</button> -->
                            <div class="row scroll-height">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " *ngFor="let projectdata of projectdata">
                                    <div class="box-shadow">
                                        <a [routerLink]="['involvement/' + projectdata?.id]"
                                        class="project-view">
                                            <img src="{{projectdata?.post_image?.image}}">
                                            <div class="clip-head">
                                                <h6>{{projectdata?.name}}'s Projects | {{projectdata?.project_type?.type}} </h6>
                                            </div>
                                            <div class="bottom-info">

                                                <ul>
                                                    <li class="my-para">
                                                        <p>{{projectdata?.city}}, {{projectdata?.country}}</p>
                                                        <p>{{projectdata?.year}}</p>
                                                    </li>
                                                    <li class="my-plane">
                                                        <button routerLink="/involvement"><i
                                                            class="fa fa-paper-plane"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-social-link">
                            <div class="project-social">
                                <a (click)='openLink(socialLinks1)' ngDefaultControl [ngModel] = "socialLinks1"  style="color: black;" >
                                    <i  class="fa fa-facebook"></i>
                                </a>
                                <a (click)='openLink(socialLinks2)' ngDefaultControl [ngModel] = "socialLinks2" style="color: black;">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a (click)='openLink(socialLinks3)' ngDefaultControl [ngModel] = "socialLinks3" style="color: black;">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a (click)='openLink(socialLinks4)' ngDefaultControl [ngModel] = "socialLinks4" style="color: black;">
                                    <i class="fa fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="inv-details">
                        <h6>Details Description</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 text-right">
                    <div class="dropdown">
                        <a class="btn btn-more dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         
                          <a class="dropdown-item" href="javascript:void(0);" routerLink="/edit-profile">Edit Profile</a>
                        </div>
                      </div>
                    <div class="colleague-profile">
                        <h6>Colleague Profile</h6>
                        <ul>

                            <li *ngFor="let c of colleagues; let i = index;" class="colleagueView">
                                <a href="javascript:void(0)" class="back-dark">{{i+1}} {{c.username}}
                                    <span>
                                        <i class="fa fa-caret-down show-me com"></i>
                                        <button class="btn btn-delete hide-me" (click)="getColleagueId(c.id)"
                                            data-toggle="modal" data-target="#delete">
                                            <i class="fa fa-trash"></i> Delete Account
                                        </button>
                                    </span>
                                </a>
                                <div class="colleague-details">
                                    <ul>
                                        <li>{{c.username}}</li>
                                        <li>{{c.email}}</li>
                                        <li>{{c.colleague_password}}</li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                        <button type="button" data-target="#add-colleague" data-toggle="modal"
                            class="add-colleague pull-right">&#43;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!--------------------------- Modal Start--------------------------------->
<div id="add-colleague" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center">CREATE COLLEAGUE PROFILE</h3>
            </div>
            <div class="modal-body my-modal-body">
                <form [formGroup]="colleagueForm" (ngSubmit)="createColleague()">
                    <div class="form-group">
                        <input type="text" formControlName="username" name="user-name" placeholder="User Name"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" formControlName="email" name="email" placeholder="Email ID"
                            class="form-control">
                    </div>
                    <div class="form-group country-code-list">
                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
                            (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                            (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                            formControlName="mobile_number" class="form-control ccode" style="width: 165%;" />

                        <!-- <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                            </div>
                        </div>
                        <input type="text" formControlName="mobile_number" class="form-control"
                            placeholder="Mobile Number" aria-label="Text input with dropdown button"> -->
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" name="conf-password"
                            placeholder="Enter password" class="form-control">
                    </div>
                    <button class="btn btn-block btn-simple" type="submit"
                        [disabled]="!colleagueForm.valid">SAVE</button>
                    <button class="btn btn-block btn-third" data-dismiss="modal">CANCEL</button>
                </form>
                <div style="color:red;">
                    <span>{{errormessage}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center">ALERT</h3>
            </div>
            <div class="modal-body modal-delete">
                <h6>Do you really want to delete this account ?</h6>
                <button onClick="window.location.reload();" class="btn btn-third" data-dismiss="modal">NO</button>
                <button class="btn btn-simple" (click)="deleteColleague()">YES</button>
            </div>
        </div>
    </div>
</div>

                                           <!-- enter-user-tags Modal -->


<div id="enter-user-tags" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center">Select Users</h3>
            </div>
            <div class="modal-body my-modal-body">
                <div class="form-group">
                    <mat-chip-list #chipList aria-label="userTaggs selection">
                        <mat-chip *ngFor="let u of userTaggs" [selectable]="selectable"
                        [removable]="removable" (removed)="remove2(u)" >
                            {{u?.username}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input  [formControl]="userTag" placeholder="Tag..."
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add2($event)"
                            class="form-control">
                            
                    </mat-chip-list>
                </div>
                <div class="form-group">
                
                    <mat-list >
                        <mat-list-item *ngFor="let user of userTagsList" (click)="addUserTag(user)">
                            <img mat-list-avatar [src]="user.profile_image" >
                          <h4 mat-line >{{user.username}}</h4>
                          <h6 class="em-color" mat-line> {{user.email}} </h6>
                        </mat-list-item>
                    </mat-list>
                </div>
                <button class="btn btn-simple btn-block" (click)="invite()" data-dismiss="modal">Invite</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------- Modal End-------------------------------->