 .conversation-box{
    padding: 20px 15px;
    border: 1px solid #EAEAEA;
    width: 100%;
    float: left;
  }
  .conversation-box .chatBoxed{
    max-height: calc(100vh - 250px);
    min-height: calc(100vh - 250px);
    overflow: auto;
    margin-bottom: 15px;
    width: 100%;
    float: left;
    /* display: flex;
    align-items: flex-end; */
  }
  /* .conversation-box .chatBoxed::-webkit-scrollbar{
    width: 0;
  } */
  .converstation{
    height: auto;
    width: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .pos-rel{position: relative;}
  .chat-send{
    width: 100%;
    float: left;
  }
  .chat-send .btn{
    position: absolute;
    overflow: hidden;
    padding: 5px 10px 5px 8px;
    line-height: 28px;
    top: 0px;
    font-size: 28px;
    left: 0;
    z-index: 11;
    color: #9a9a9e !important;
    background-color: transparent!important;
  }
  .chat-send .msg-type +.btn{
    padding: 5px 20px 5px 10px!important;
  }
  .chat-send .btn.right{
    left: auto;
    right: 0;
    font-size: 22px !important;
    padding: 5px 12px !important;
  }
  .chat-send .btn input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .msg-type{
    position: relative;
    width: 100%;
    padding: 8px 50px;
    border-radius: 50px!important;
    border: 1px solid #c5c5c5;
    outline: none!important;
    border: 1px solid #EAEAEA;
  }
  .attch-file{
    position: absolute;
  }    
  .btn-send{
    cursor: pointer !important;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 15px;
    background: #FFF100;
    border: none;
    font-size: 17px;
    color: #1e1e20;
    border-radius: 50%;
  }
  .chat-send{
    display: flex;
  }
  .hvr-forward{
    display: block;
  }
  .file-attach{
    text-align: center;
  }
  .file-attach ul li{
    padding: 5px 15px;
    display: inline-block;
    color: #1e1e20;
  }
  .file-attach ul li label{
    border: none;
    background-color: transparent;
  }
  .file-attach ul li label img{
    width: 45px;
    height: 45px;
  }

  .sender-img{
    width: 55px;
    height: 55px;
    text-align: center;
  }
  .sender-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .receiver-img{
    width: 55px;
    height: 55px;
    text-align: center;
  }
  .receiver-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .reply{
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 15px;
    position: relative;
  }
  .reply h6{
    font-size: 14px;
    padding-bottom: 5px;
  }
  .reply p{
    font-weight: 12px;
    color: #000;
  }
  .reply::before{
    content: "";
    position: absolute;
    transform: skewX(24deg);
    top: -1px;
    left: -5px;
    width: 17px;
    height: 18px;
    border-radius: 4px 0 0 0;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background: #fff;
  }
  .reply-r{
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 15px;
    position: relative;
  }
  .reply-r h6{
    font-size: 14px;
    padding-bottom: 5px;
  }
  .reply-r p{
    font-weight: 12px;
    color: #000;
  }
  .reply-r::after{
    content: "";
    position: absolute;
    transform: skewX(-24deg);
    top: -1px;
    right: -5px;
    width: 17px;
    height: 18px;
    border-radius: 0 4px 0 0;
    border-top: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background: #fff;
  }
  .sender-name{
    padding: 10px 5px;
  }
  .sender-name p{
    font-weight: 12px;
    color: #36BD9E;
  }
  .sender-name p span{
    float: right;
    font-weight: 12px;
    color: #C3C7C6;
  }
  .sender{  
    display: flex;
    width: 100%;
  }
  .sender-msg{
    max-width: 100%;
    padding: 5px;
    margin: 0 20px;
  }
  .receiver-name{
    padding: 10px 5px;
  }
  .receiver-name p{
    font-weight: 12px;
    color: #36BD9E;
  }
  .receiver-name p span{
    float: right;
    font-weight: 12px;
    color: #C3C7C6;
  }
  .receiver{
    clear: both;
    display: flex;
    float: right;
  }
  .receiver-msg{
    max-width: 100%;
    padding: 5px;
    margin: 0 20px;
  }
  
  .pos-rel{position: relative;}
  .chat-send .btn{
    position: absolute;
    overflow: hidden;
    padding: 5px 10px 5px 8px;
    line-height: 28px;
    top: 0px;
    font-size: 28px;
    left: 0;
    z-index: 11;
    color: #9a9a9e !important;
    background-color: transparent!important;
  }
  .chat-send .msg-type +.btn{
    padding: 5px 20px 5px 10px!important;
  }
  .chat-send .btn.right{
    left: auto;
    right: 0;
    font-size: 22px !important;
    padding: 5px 12px !important;
  }
  .chat-send .btn input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .msg-type{
    position: relative;
    width: 100%;
    padding: 8px 50px;
    border-radius: 50px!important;
    border: 1px solid #c5c5c5;
    outline: none!important;
    border: 1px solid #EAEAEA;
  }
  .attch-file{
    position: absolute;
  }

  .unread-msg {
    width: 88px;
    text-align: right;
}
.read-msg p {
    color: #AFAFAF;
}
.read-msg {
    width: 88px;
    text-align: right;
}
.recent-btn{
    margin-top: 10px;
}


.recent-btn>a>img{
    margin-right: 5px;
}
.chatter{
  display: flex;
  border: 1px solid #e6e6e6;
}
.chatter-img{
  width: 50px;
  position: relative;
}
.chatter-img>img{
  width: 45px;
  height: 45px;
    min-width: 45px;
    min-height: 45px;
  border-radius: 50%;
}
.chatter-img>i{
  position: absolute;
  bottom: 5px;
  right: 2px;
}
.chatter-info{
  margin-left: 10px;
}
.chatter-info>h6{
  color: #000;
    padding: 10px 0 0 5px;
    font-size: 18px;
}

.reply-r img{
  width: 130px;
  height: auto;
}
.reply img{
  width: 130px;
  height: auto;
}
.zooming-img>img{
width: 100%;
height: 100%;
}
.emoji-mart{
  width: 100% !important;
}

/* .emoji-mart {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 100% !important;
} */







































