<app-header></app-header>
<div class="container-fluid">
<div class="row involvement-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="cog">
                    <div class="dropdown">
                        <button class="btn-setting" type="button" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu set-right">
                            <a class="dropdown-item" href="JavaScript:void(0);" data-toggle="modal" data-target="#remove-post">Remove Post</a>
                            <a class="dropdown-item" href="JavaScript:void(0);" routerLink="/edit-my-post">Edit Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="inv-heading">
                    <h4>TYPE OF PROJECT | CATEGORY  <span>2 day ago</span></h4>
                    <h4>mysite</h4>
                    <h4>ARCHITECTURE</h4>
                    <p>Noida, India | 2019</p>
                </div>
                <div class="inv-img">
                    <ul>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/home.jpg"></a></li>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/1.jpg"></a></li>
                        <li class="videos"><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-videos"><video controls><source src="assets/images/my-video.mp4" type="video/mp4"></video></a></li>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/thumb1.jpg"></a></li>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/thumb1.jpg"></a></li>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/thumb1.jpg"></a></li>
                        <li class="videos"><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-videos"><video controls><source src="assets/images/my-video.mp4" type="video/mp4"></video></a></li>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#my-pic"><img src="assets/images/thumb1.jpg"></a></li>
                    </ul>
                </div> 
                <div class="inv-details ">
                    <h6><strong>Description</strong></h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div> 
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="inv-right-heading">
                    <h6><strong>Involvement</strong></h6>
                </div>
                <div class="inv-right-details">
                    <h6><strong>Products Manufacturers</strong></h6>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a> 
                        </div>
                    </div>
                </div>
                <div class="inv-right-details">
                    <h6><strong>Execution</strong></h6>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                            <a href="JavaScript:void(0);" routerLink="/unfollowed-profile">
                                <div class="product-img">
                                    <img src="assets/images/logo-collapse.png">
                                </div>
                                <div class="product-info">
                                    <h6>mysite Marjorie</h6>
                                    <p>Lorem Ipsum</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bottom-comment">
                    <ul>
                        <li><a href="JavaScript:void(0);" data-toggle="modal" data-target="#likes"><img src="assets/images/icon/chat.png"><p class="padding-0">10</p></a></li>
                        <li><a href="JavaScript:void(0);"><img src="assets/images/icon/share.png"><p class="padding-0">12</p></a></li>
                        <li><a href="JavaScript:void(0);"><img src="assets/images/icon/like.png"><p class="padding-0">12</p></a></li>
                        <li><a href="JavaScript:void(0);"><img src="assets/images/icon/megaphone.png"><p class="padding-0">Invite</p></a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
<!--------------------------- Modal Start--------------------------------->
<div class="modal fade" id="my-pic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content content-edit">
        <div class="modal-body img-modal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <img src="assets/images/home.jpg">
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="my-videos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content content-edit">
            <div class="modal-body img-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <video controls><source src="assets/images/my-video.mp4" type="video/mp4"></video>
            </div>
        </div>
    </div>
</div>
<div id="likes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="likes-list">
                        <ul>
                            <li>
                                <div class="likes-flex">
                                    <div class="likes-img">
                                        <img src="assets/images/1099386850.jpg">
                                    </div>
                                    <div class="likes-name">
                                        <h6>mysite </h6>
                                        <h6>Ashish Saxena</h6>
                                        <p>8 Hrs Ago</p>
                                    </div>
                                    <div class="likes">
                                        <img src="assets/images/icon/like.png"><span>10</span>
                                    </div>
                                </div>
                                <div class="likes-info">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </li>
                            <li>
                                <div class="likes-flex">
                                    <div class="likes-img">
                                        <img src="assets/images/1099386850.jpg">
                                    </div>
                                    <div class="likes-name">
                                        <h6>HCL </h6>
                                        <h6>Ashish Saxena</h6>
                                        <p>8 Hrs Ago</p>
                                    </div>
                                    <div class="likes">
                                        <img src="assets/images/icon/like.png"><span>10</span>
                                    </div>
                                </div>
                                <div class="likes-info">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </li>
                            <li>
                                <div class="likes-flex">
                                    <div class="likes-img">
                                        <img src="assets/images/1099386850.jpg">
                                    </div>
                                    <div class="likes-name">
                                        <h6>mysite </h6>
                                        <h6>Ashish Saxena</h6>
                                        <p>8 Hrs Ago</p>
                                    </div>
                                    <div class="likes">
                                        <img src="assets/images/icon/like.png"><span>10</span>
                                    </div>
                                </div>
                                <div class="likes-info">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment">
                        <div class="form-group">
                            <textarea type="text" name="comment" class="form-control" placeholder="Write a comment"></textarea>
                        </div>
                        <button class="btn btn-yellow" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div id="remove-post" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header my-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center">ALERT</h3>
            </div>
            <div class="modal-body modal-delete">
                <h6>You're just going to remove one of your post, do you really want to do this ?</h6>
                <button class="btn btn-third" data-dismiss="modal">NO</button>
                <button class="btn btn-simple" data-dismiss="modal" routerLink="/my-profile">YES</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------- Modal End-------------------------------->


